body{
    /* background-color: rgb(44, 39, 32); */
    background-color: #368F8B;
    display: flex;
    justify-content: center;
    height: 1200px;

}
.gradient{
    background: repeating-linear-gradient(
        45deg, /* ugao dijagonalnih šara */
        #ff6b6b, /* boja 1 */
        #ff6b6b 10px, /* širina boje 1 */
        #4ecdc4 10px, /* boja 2 */
        #4ecdc4 20px /* širina boje 2 */
      );
}
.pep{
    box-sizing: border-box;
    border-left: 5px solid #246A73;
    /* border-left: 5px solid #0b2e33; */
    border-right: 5px solid #246A73;
    /* border-right: 5px solid #0b2e33; */
    z-index: 1;
    position: absolute;
    top: 205px;
    left: 250px;
    width: 60px;
    height: 20px;
    background-color: #489996;
    background-color: #348c97;
}
.gradient2{
  /* background: linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
              linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px),
              radial-gradient(circle at center, #1a1a1a, #121212);
  background-size: 40px 40px; */

  /* background: linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
  linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px),
  radial-gradient(circle at center, #1a1a1a, #121212);
background-size: 40px 40px; */

/* background: linear-gradient(120deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px),
linear-gradient(-120deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
background-size: 60px 35px;
background-color: #1a1a1a; */

/* ///////////////////////////// */
/* background: repeating-linear-gradient(
    90deg,
    rgba(0, 255, 255, 0.5),
    rgba(0, 255, 255, 0.5) 2px,
    transparent 2px,
    transparent 40px
  ),
  repeating-linear-gradient(
    0deg,
    rgba(0, 255, 255, 0.5),
    rgba(0, 255, 255, 0.5) 2px,
    transparent 2px,
    transparent 40px
  );
background-color: #000; */

/* background: repeating-linear-gradient(
    90deg,
    rgba(139, 69, 19, 0.4),
    rgba(139, 69, 19, 0.4) 2px,
    transparent 2px,
    transparent 60px
  ),
  repeating-linear-gradient(
    0deg,
    rgba(139, 69, 19, 0.4),
    rgba(139, 69, 19, 0.4) 2px,
    transparent 2px,
    transparent 60px
  );
background-color: #2e1f0f;
background-position: 0 0; */



}
:root{
    --primary-color: #246A73;
}
.canva{
    border: 10px solid var(--primary-color);
    /* border-bottom: 15px solid var(--primary-color); */
    /* border-top: 0px; */
    transform: scale(1.14);
    margin-right: 20px;
    border-radius: 10px;
    margin-top: 32px;
}





.main{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    box-sizing: border-box;
    align-items: center;

    /* padding: 20px; */
    background-color: #102121;
    width: 1000px;
    height: 800px;

background: linear-gradient(120deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px),
linear-gradient(-120deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
background-size: 36px 36px;
background-color: #06141a;
border: 50px solid #566164;
border: 10px  linear-gradient(15deg, lightblue, rgb(170, 170, 196)); /* dijagonalna šara */

}

/* FORM */
.form-wrapper{
    position: relative;
}

.for{
    box-sizing: border-box;
    border: 5px solid #246A73;

    display: flex;
    /* justify-content: cnter; */
    align-items: center;
}

.form{
    position: relative;
    margin-top: 0px;
    margin-bottom: 50px;
    width: 150px;
    height: 150px;
    border-radius: 25px;
    margin-left: 65px;
    border: 5px solid 246A73;
    background-color: #489996;
    /* background-color: #599797; */
}


.pepe1{
    background: linear-gradient(to top, #529796, #659797);

    top: 195px;
    left: 150px;
}

.form2{
    margin-top:10px;
    width: 350px;
    height: 70px;
    border-radius: 25px;
    margin-left: 50px;
    background-color: #489996;
    /* background-color: #529796; */
}

.pepe2{
    background: linear-gradient(to top, #2d5b5a, #529796);

    top: 275px
}

.form2 label{
    margin-left: 20px;
    font-weight: 600;
    font-size: 22px;
    color:rgb(32, 63, 63)
}
.form3{
    margin-top:10px;
    width: 350px;
    height: 70px;
    border-radius: 25px;
    margin-left: 10px;
    background-color: #489996;
    /* background-color: #2d5b5a; */



}
.form3 label{
    margin-left: 20px;
    font-weight: 600;
    font-size: 22px;
    color:rgb(32, 63, 63)
}

.pepe3{
    background: linear-gradient(to top, #183534, #2d5b5a);

    left: 150px;
    top: 355px
}

.form4{
    margin-top:10px;
    width: 350px;
    height: 70px;
    border-radius: 25px;
    margin-left: 40px;
    background-color: #489996;
    /* background-color: #183534; */
}
.pepe4{
    top: 445px;
    left:110px;
    width: 30px;
    height: 60px;
    background: linear-gradient(to top, #102121, #183534);

}
.form6{
    margin-top:50px;
    margin-left: 50px;
    width: 120px;
    height: 100px;
    border-radius: 25px 25px 0px 0px;
    background-color: #489996;
    background-color: #102121;
    
    background-repeat: no-repeat;
    background-image: url(./fire.gif);
    background-position-x: 36px;
    background-position-y: 41px;
    background-size: 50px 30px;
    

    /* background: 
    linear-gradient(90deg, #aaa 20%, transparent 20%, transparent 80%, #aaa 80%), 
    linear-gradient(90deg, #aaa 20%, transparent 20%, transparent 80%, #aaa 80%);
    background-size: 60px 40px; /* Širina i visina ciglica 
    background-position: 0 0, 30px 20px; /* Pomak svakog drugog reda 
    background-color: #ccc; /* Osnovna boja zi
    border: 1px solid #000;  */
}



.glassPepe{
    z-index: 2;
    
    width: 150px;
    height: 150px;

    top: 20px;
    /* left: 15px; */
    /* width: 340px; */
    /* top: 120px; */
    /* left: 90px; */

    /* left: 90px; */
    /* right: 200px; */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border: 2px solid rgba(255, 255, 255, 0.3);
}
.glassPepe2{
    z-index: 2;
    
    top: 210px;
    left: 230px;
    width: 160px;
    height: 50px;

    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(.3px);
    -webkit-backdrop-filter: blur(.3px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    display: flex;
    align-content: center;
    align-items: center;
}
.glassPepe2 label{
    margin-left: 20px;
    font-weight: 600;
    font-size: 22px;
    color:rgb(32, 63, 63)
}



.glassHolder6{
    margin-left: 35px;
    margin-top: 0px;
    /* border: 2px solid black; */
    border-bottom: solid 2px rgb(99, 72, 55);
    border-radius: 16px 16px 0px 0px;
}

.glass{
    
    background: rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.glass6{
    border-radius: 26px 26px 0px 0px;
    width: 50px;
    height: 50px;
}

.score-display{
    position: relative;
    display: flex;
    flex-direction: column;
}

.scoreHolder{
    background-color: var(--primary-color);
    height: 80px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    display: none;
}

.score{
    display: none;
    background-color: rgb(0, 0, 0);
    width: 87%;
    height: 70%;
    border-radius: 15px;

    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 140%;
}
.pipe{
    background: linear-gradient(to right, #000000, #659797); /* Gradijent od crvene (#FF5733) do zelene (#33FF57) */

    box-sizing: border-box;
    border-top: 5px solid #246A73;
    border-bottom: 5px solid #246A73;
    position: absolute;
    top: 40px;
    left:331px;
    width: 79px;
    height: 60px;
    background-color: #489996;
    z-index:1;
}




/* //LEVELR */
body {
    background-color: rgb(0, 0, 0);
  }
  .info {
    text-align: center;
  }
  h1 {
    font-family: sans-serif;
  }
  
  /* Lever styles */
  .lever-control {
    position: absolute;
    width: 54px;
    padding-top: 42px;
    cursor: pointer;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .lever {
    position: absolute;
    width: 10px;
    left: 22px;
    top: 0;
    transform: rotate(30deg);
    transform-origin: 50% 100%;
  }
  
  .knob {
    background-color: #FAB700;
    width: 10px;
    height: 18px;
  }
  
  .stick {
    width: 5px;
    height: 32px;
    background-color: white;
    margin: 0 auto;
  }
  
  .lever-base {
    position: relative;
    width: 54px;
  }
  
  .pivot {
    width: 24px;
    height: 12px;
    border-radius: 50px 50px 0 0;
    background-color: #D0D2D3;
    margin: 0 auto;
  }
  
  .base {
    width: 54px;
    height: 3px;
    background-color: #B3B3B3;
  }